button{
    color: darkslateblue;
    background-color: white;
}

.body_background 
{
    background-image: url("https://cdn.onesearch.com/lo/api/res/1.2/5B6tLdyzXYk9MUSFiat3gg--~B/YXBwaWQ9eWlzZWFyY2g7Zmk9Zml0O2dlPTAwNjYwMDtncz0wMEEzMDA7aD0xMDgwO3c9MTkyMA--/https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/cW5lDBG/videoblocks-abstract-modern-colorful-background-with-rectangles-moving-to-the-camera-and-lens-flares-future-business-technology-backdrop-loopable_h9wqzo94z_thumbnail-1080_01.png.cf.png");
    background-position: center;
    background-size: cover;
}
body{
    color: darkslateblue;
    background-color: white;
}

h1{
    font-weight: bold;
    color: white;
}

.login_div1 , .login_div2
{
    background: white;
    padding: 10px;
    float: none;
    border-radius: 15px;
}


#player1_name , #player2_name
{
display: inline-block;
margin-left: 20px;
}
#word
{
width: 60%;
}
#word_display
{
letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

